
body{
    background: linear-gradient(to right,rgb(251, 251, 184),rgb(250, 189, 77));
}
.banner-image{
    width: 100%;
    height:200px;
    overflow: hidden;
    display:block;
}

.banner-image img{
    width:100%;
    height: 200px;
    object-fit: cover;
}

.header-message{
    text-align: center;
    margin-top: 50px;
    font-size:50px;
    color: white;
    font-family:Times;
    background-color:rgb(160, 109, 32);
}

.photo-image{
    display:flex;
    justify-content: center;
}

.photo-image img{
    width: 300px;
    margin-top: 30px;
    border-radius: 50px;
    border: solid;
    border-color: white;
}

.subheader-title{
    background-color: rgb(160, 109, 32);
    color:white;
    font-size: 25px;
    text-align: center;
}

.feature-image{
    display:flex;
    justify-content: center;
}

.feature-image img{
    width: 800px;
    margin-top: 30px;
    border-radius: 50px;
    border: solid;
    border-color: white;
}

.project-image-format{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly ;
    grid-template-columns: 1fr 1fr 1fr;
}

.project-image img{
    display: inline-block;
    width: 300px;
    vertical-align: top;
    border: solid;
    border-color: white;
    border-radius: 150px;
    
}

.project-info-format{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly ;
    flex:1;
}

.project-info p{
    text-align: center;
    display: inline-block;
    width: 300px;
    vertical-align: top;
    font-size: 20px ;
    font-weight: bold;
    margin-top: 3px;
    border: solid;
    color:rgb(84, 53, 8);
    border-color: rgb(160, 109, 32);
    
    
}

.skills-title{
    display:inline-block;
    padding-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 70px;
    margin-left: 400px;
    text-align: center;
    border: solid;
    color:rgb(84, 53, 8);
    border-color: rgb(160, 109, 32);
    
}

.skills-info{
    margin-top: 1px;
    flex-direction: column;
    margin-left: 300px;
    font-size: 20px;
}

.skills-image{
    width:400px;
    float:right;
    margin-top: 70px;
    margin-right: 400px;
    border-radius: 30px;
    margin-bottom: 30px;
    margin-left: 40px;
    border:solid;
    border-color: white;
}

.autobiography-title{
    display: inline-block;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: 200px;
    margin-left: 1100px;
    text-align: center;
    border: solid;
    color:rgb(84, 53, 8);
    border-color: rgb(160, 109, 32);
}

.autobiography-info{
    margin-left: 800px; 
    font-size: 20px;     
}

.autobiography-image{
    width:500px;
    float:right;
    margin-top: 0px;
    margin-right: 900px;
    margin-bottom:200px;
    border-radius: 30px;
    border:solid;
    border-color: white;


}

.footer-logo{
    display:flex;
    justify-content: center;
    position:relative;
}

.footer-logo img{
    width: 150px;
    margin-top: 500px;
    margin-left: 150px;
    border-radius: 100px;
    position:absolute;
    z-index: 2;
    border: solid;
    border-color:white;
}


.footer-banner{
    width: 100%;
    height:200px;
    overflow: hidden;
    display:block;
    position:relative;
}

.footer-banner img{
    width:100%;
    height: 200px;
    object-fit: cover;
    position:absolute;
    z-index: 1;
}

.footer-title{
    position:absolute;
    z-index: 2;
    margin-top: 500px;
    margin-left:400px;
    font-size: 30px;
    font-family: Times;

}

.footer-address{
    position:absolute;
    z-index: 2;
    margin-top: 550px;
    margin-left:400px;
    font-size: 20px;
    font-family: Times;
}

.footer-number{
    position:absolute;
    z-index: 2;
    margin-top: 590px;
    margin-left:400px;
    font-size: 20px;
    font-family: Times;
}

.footer-copyright{
    position:absolute;
    z-index: 2;
    margin-top: 630px;
    margin-left:400px;
    font-size: 20px;
    font-family: Times;
}

.button-top  {
    position:absolute;
    z-index: 2;
    margin-top: 560px;
    margin-left:460px;
  }
  
  .button-top:hover {
    background-color: rgb(3, 3, 62);
  }

  .button-top:active{
    background-color: red;
  }
  
